<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aop.fastcampus.part6.chapter01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".Part6Chapter01Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aoppart6chapter01">
        <activity android:name=".screen.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.mylocation.MyLocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.home.restaurant.detail.RestaurantDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.order.OrderMenuListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.review.camera.preview.ImagePreviewListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.review.camera.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.review.gallery.GalleryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".screen.review.AddRestaurantReviewActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map" />
    </application>

</manifest>
